@charset "UTF-8";

/* Reset */
* {
    color: #000;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a          { text-decoration: none; color: #222; }
a:link     { color: #222; }
a:visited  { color: #222; }
a:hover    { color: #333; }
a:active   { color: #333; }
img        { vertical-align: middle; }
ul         { list-style: none; }
/* Reset */


/* Guide Line */
/*div#wrap         { border: 1px solid #000; }*/
/*header#header    { border: 1px solid #000; }*/
/*main#main        { border: 1px solid #000; }*/
aside#aside      { border: 1px solid #000; }
footer#footer    { border: 1px solid #000; }
/* Guide Line */

/* 공통영역 */
div#wrap {
    width: 1000px;
    padding: 4px;
    margin: 0 auto;
}
#wrap>* {
    font-size: 30px;
    margin: 4px;
}
/* 공통영역 */

/* 헤더 */
header#header {
    padding: 3px;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: space-between;
}
/* 헤더 */



/* 헤더 로고 */
div#headerLogo {
    width: 240px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border: 1px solid #aaa;
}
/* 헤더 로고 */

/* 헤더 GNB */
nav#gnb {
    width: 600px;
    /*border: 1px solid #f80;*/
    position: relative;
}
#gnb>ul#mainMenu {
    /*border: 1px solid #08f;*/

    position: absolute;
    right: 40px;
    bottom: 0;
}
#gnb>ul#mainMenu>li {
    /*border: 1px solid #08f; */
    font-size: 20px;
    float: left;
}
#gnb>ul>li>a {
    font-weight: bold;
    background-color: #6eb2ed;
}
#gnb a {
    padding: 8px 16px;

    display: inline-block;
}

#gnb .subMenu {
    position: absolute;
    z-index: 1;
    display: none;
}
#gnb .subMenu a:hover {
/*    background-color: #c1a325;*/
    opacity: 0.75;  /* 요소 자체에 적용되는 불투명 속성 */
    /* rgba () => 색상에 적용되는 불투명 속성 */
}
/* 헤더 GNB */


/* bgArea */
div#bgArea {

    position: relative;
    top: -8px;
    z-index: 0;

}
    /* div#subMenuBG */
div#subMenuBG {
    width: 100%;
    height: 128px;
    background-color: rgba(110, 178, 237, 0.67);

    display: none;
    position: absolute;
}
    /* div#subMenuBG */
/* bgArea */


/* main#main */
main#main {
    height: 300px;
    /*border: 4px solid #f00;*/
    overflow: hidden;
}
/* main#main */




